body {
  width: 80%;
  margin: 4vw auto;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  text-align: center;
  padding-top: 20%;
}

.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: .6em;
  line-height: 1;
  text-align: center;
  padding-top: 30%;
}

@media screen and (min-width: 40em) {
  body {
    width: 50%;
  }

  .heading {
    font-size: 4vw;
  }

  .subheading {
    font-size: .7vw;
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}
